@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

body {
    background: #151D21;
    background-image: url('../images/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #ff7a7a;
}

header .logo a {
	background-image: url("../images/logo.png");
	background-size: 90px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100px;
	width: 111px;
	text-indent: -999999px;
	position: relative;
    top: -15px;
}

li:first-child {
    float: left; 
}

li {
    display: inline-block;
    padding-right: 7%;
    margin: 10px 0 0 0;
    font-size: 36px;
}

.topnav {
    list-style: none;
    font-family: 'Roboto Thin';
    color: aliceblue;
    margin: 50px 0 0 0;
    text-align: right;
}

section {
    text-align: center;
    padding: 8%;
}

section header {
    margin-top: 0px;
    font-family: 'Roboto Thin';
    font-size: 62px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.contact {
    margin-top: 20px;
}

section div {
    font-family: 'Roboto Thin';
    font-size: 32px;
    line-height: 55px;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
}

.features {
    padding: 8%;
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.features figure {
    display: inline-block;
    width: auto;
    margin: auto;
    padding: 25px;
    margin: 2px;
    position: relative;
    top: -200px;
}

.features figure img {
	border-radius: 50%;
	width: 75px;
	height: 75px;
}

figure img:hover {
    filter: brightness(0.7);
}

footer {
    font-family: 'Roboto Thin';
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}

@media screen and (max-width: 1140px) {
    .features figure img {
        width: 50px;
        height: 50px;
    }

    li {
        font-size: 24px;
    }

    section div {
        font-family: 'Roboto Thin';
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }
}

@media screen and (max-width: 760px) {
    .features figure img {
        width: 25px;
        height: 25px;
    }

    .features figure {
        top: -150px;
    }

    li {
        font-size: 15px;
    }
    
    section header {
        font-size: 36px;
    }

    .contact {
        margin-top: 50px;
    }

    section div {
        font-family: 'Roboto Thin';
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }
}

@media screen and (max-width: 600px) {
    li {
        font-size: 12px;
    }

    .features figure {
        padding: 65px 10px;
    }
}
